@media screen and (max-width: 853px){
    body{
        margin: 20px 50px;
    }

    footer{
        font-size: 30px;
    }
 
    #logo {
        width: 50%;
    }

    #pic{
        width: 60%;
    }

    #menu a{
        font-size: 40px;
    }

    #texto h1{
        padding: 50px;
        font-size: 60px;
    }

    #texto h2{
        padding: 50px ;
        font-size: 40px;
    }

    #compra {
        display: block;
    }

    #icon{
        margin: 0 40px;
        text-align: center;
    }

    #icon h3{
        margin: 0;
        padding: 30px 0;
        font-size: 35px;
    }

    #cervejas{
        display: block;
        text-align: center;
        font-size: 30px;
        padding: 10px 50px;
    }

    #cervejas img{
        width: 70%;
        padding: 30px 0;
        margin: 0;
    }

    #cervejas h2, #cervejas h1{
        text-align: center;
        margin: 20px 0;
    }

    #promocao{
        font-size: 30px;
        padding: 50px 30px;
    }

    #botao{
        font-size: 45px;
    }

    #faleconosco{
        font-size: 30px;
    }

}

@media screen and (max-width: 375px){

    body{
        margin: 10px 20px;
    }

    #logo{
        width: 90%;
    }

    #menu{
        display: none;
    }

    #pic{
        width: 90%;
        padding: 0;
    }

    #texto h1{
        font-size: 45px;
        padding: 25px;
    }

    #texto h2{
        font-size: 30px;
    }

    #icon h1{
        font-size: 45px;
    }
    #icon h3{
        font-size: 30px;
    }

    #nossosprodutos{
        font-size: 45px;
    }

    #cervejas h1{
        font-size: 45px;
    }
    
    #cervejas h2{
        font-size: 30px;
    }

    #cervejas img{
        width: 100%;
    }

    #faleconosco h1{
        font-size: 45px;
    }

    #faleconosco h2{
        font-size: 25px;
    }

    footer{
        font-size: 15px;
    }

}